.level0 {
  background-color: #EDEDED;
}

.level1 {
  background-color: #ACD5F2;
}

.level2 {
  background-color: #7FA8C9;
}

.level3 {
  background-color: #527BA0;
}

.level4 {
  background-color: #254E77;
}